# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\composer自定义包\logistics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
